[user]
  name =  Seremak Lukasz
  email = lukasz.seremak@nokia.com
[web]
  browser = /usr/bin/chromium 
[color]
	ui = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	func = 146 bold
	commit = yellow bold
[color "status"]
	added = green bold
	changed = yellow bold
  untracked = red bold
[diff]
	tool = meld
[mergetool]
	tool = meld
[difftool]
  prompt = false
[core]
	editor = /usr/bin/nvim 
	excludesfile = /home/seremak/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  d = !"git diff"
  s = !"git status"
  ls =  log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
[diff "sopsdiffer"]
	textconv = sops -d
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[http]
	proxy = http://10.158.100.2:8080
[https]
	proxy = http://10.158.100.2:8080
