* {
  background: #0f0f17;
  background-alt: #444b6a;
  foreground: #96CDFB;
  foreground-alt: #FFFFFF;
  transparent: #00000000;

  background-color: @background;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

/* vim: ft=sass
