* {
  background: #151726;
  background-alt: #1F1F30;
  foreground: #89B4FA;
  foreground-alt: #CDD6F4;
  transparent: #00000000;

  background-color: @background;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

/* vim: ft=sass
